<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="apoi.mviapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MviApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="apoi.mviapp.mobius.photo.view.PhotoActivity"
            android:label="@string/app_name" />

        <!-- Mobius -->

        <activity
            android:name="apoi.mviapp.mobius.list.view.ListActivity"
            android:label="@string/app_name">
        </activity>

        <!-- Freesound -->

        <activity
            android:name="apoi.mviapp.freesound.list.view.ListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Mvi2 -->

        <activity
            android:name="apoi.mviapp.mvi2.view.ListActivity"
            android:label="@string/app_name">

        </activity>

    </application>

</manifest>